name: Run Scheduled Task

on:
  schedule:
    - cron: "*/5 * * * *" # Executa todos os dias a meia noite
  workflow_dispatch: # Permite rodar manualmente

jobs:
  cron-job:
    runs-on: ubuntu-latest
    steps:
      - name: Chamar a API do Vercel
        run: curl -X GET https://my-wedding-self.vercel.app/api/sendAllNotConfirmedEmail
